.card-hover-animation {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for both transform and box-shadow */
}

.card-hover-animation:hover {
  box-shadow: 0px 10px 20px rgba(208, 203, 203, 0.794); /* Add a subtle shadow on hover */
  transform: translateY(-10px);
  color: #dc3545 !important;
}
.content-hover-animation:hover {
  transform: scale(1.05) translateY(-10px);
}
.icon:hover {
  color: #dc3545 !important;
}
.theme-text-color {
  color: #dc3545 !important;
}
.img-grayscale {
  filter: grayscale(100%);
}
.custom-input:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}
.card-focus-animation:hover {
  box-shadow: 0px 10px 20px rgba(208, 203, 203, 0.794);
  background-color: #d3d3d3;
  background-image: linear-gradient(white, #d3d3d3);
}
.img-grayscale {
  filter: grayscale(100%);
}
.img-grayscale:hover {
  filter: grayscale(0%);
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.scroll-loop {
  transition: transform 0.3s, box-shadow 0.3s;
  animation: scrollLoop 10s linear infinite;
}
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 5s steps(30) infinite;
}
